<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define InventoryRepository Bean -->
    <bean id="inventoryRepository" class="com.bookstore.repository.InventoryRepository" />

    <!-- Define InventoryService Bean -->
    <bean id="inventoryService" class="com.bookstore.service.InventoryService">
        <property name="inventoryRepository" ref="inventoryRepository" />
    </bean>

</beans>
